.container {
  background-color: var(--secondary-text);
  color: rgba(13, 13, 13, 1);
  /* height: 40.4rem; */
}

.img__wrapper > img {
  width: 100%;
  object-fit: cover;
}

.details__container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.details__container > h5 {
  font-size: 1.8rem;
}

.details__container > p {
  color: rgba(13, 13, 13, 0.36);
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1.5rem;
  line-height: 1.8rem;
}

.details__container button {
  margin-top: 5rem;
  margin-left: auto;
  padding: 1.3rem 1.5rem;
  border-radius: 0.5rem;
}
