.container {
  background-color: rgba(51, 47, 60, 1);
  padding-top: 1.5rem;
  border-radius: 1rem;
  margin-top: 5rem;
}

.container h4 {
  font-size: 2.5rem;
  color: var(--accent-color);
  padding: 0 0 1.5rem 2rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    position: sticky;
    position: -webkit-sticky;
    top: 15rem;
    margin-top: 0;
  }
}
