.header__container {
  padding-inline: var(--outter-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
  background-color: rgba(51, 47, 60, 1);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.logo__wrapper {
  width: 120px;
}

.logo__wrapper img {
  width: 100%;
  object-fit: cover;
}
