.header__container {
  padding-inline: var(--outter-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.logo__wrapper {
  width: 120px;
}

.logo__wrapper img {
  width: 100%;
  object-fit: cover;
}

/* media queries */
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 5rem;
  }
}
